{% extends "faq/base.html" %}

{% block title %}{{ block.super }}: Example {% endblock %}

{% block body %}
<h1>{{ page_title }}</h1>
<p>
Last updated on: {{ updated_on|date:"M d, Y" }}
</p>

<h3>Questions</h3>
<ol>
{% for question in object_list %}

<li>
{{ question.text }}
<br>
<span class="answer">answer: {{ question.answer }}</span>
{% if question.related %}
<br><small>
    {% for rquestion in question.related %}
        {% if forloop.first %}
            See also <a href="#rquestion.slug">{{ rquestion.text }}</a>
        {% endif %}
    {% endfor %}
</small>
{% endif %}
</li>


{% endfor %}
</ol>

{% endblock %}
